<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
	default-lazy-init="true">
	
	<description>thrift-servlet服务</description>
	
	 <!-- servlet适配器，这里必须明确声明，因为spring默认没有初始化该适配器 -->  
    <bean id="servletHandlerAdapter" class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter"/>  
    
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="order" value="2" />
	</bean>
    
    <bean  id="helloWorldImpl" class="cn.slimsmart.thrift.demo.helloworld.HelloWorldImpl"/>
    
    <!-- servlet -->  
    <bean name="/helloworldServlet.do" class="cn.slimsmart.thrift.demo.spring.servlet.HelloworldServlet"> 
    	<constructor-arg>
    		<ref bean="helloWorldImpl"/>
    	</constructor-arg>  
    </bean>
    
    <!-- servlet proxy -->  
    <bean name="/helloworldServletProxy.do" class="cn.slimsmart.thrift.demo.spring.servlet.ThriftServletServerProxy"> 
    	<constructor-arg index="0" value="cn.slimsmart.thrift.demo.helloworld.HelloWorld"/>
    	<constructor-arg>
    		<ref bean="helloWorldImpl"/>
    	</constructor-arg>  
    </bean>
	
</beans>
