<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/cache
http://www.springframework.org/schema/cache/spring-cache.xsd">
	<!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->
	<cache:annotation-driven cache-manager="cacheManager"
		proxy-target-class="true" />

	<bean id="userService" class="org.springframework.cache.demo.UserService" />

	<!-- 配置memcached的缓存服务器 -->
	<bean id="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
		<constructor-arg>
			<list>
				<bean class="java.net.InetSocketAddress">
					<constructor-arg value="192.168.1.90" />
					<constructor-arg value="11211" />
				</bean>
			</list>
		</constructor-arg>
	</bean>
	<bean id="memcachedClient" factory-bean="memcachedClientBuilder"
		factory-method="build" destroy-method="shutdown" />

	<bean id="cacheManager"
		class="org.springframework.cache.demo.memchache.MemcachedCacheManager">
		<property name="memcachedClient" ref="memcachedClient" />
		<!-- 配置缓存时间 -->
		<property name="configMap">
			<map>
				<entry key="typeList" value="3600" />   <!-- key缓存对象名称 value缓存过期时间 -->
			</map>
		</property>
	</bean>
</beans>