<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test name="test">
    <classes>
       <class name="cn.slimsmart.unit.test.demo.testng.TestNGTest"/>
    </classes>
  </test>
  <test name="test_spring">
    <classes>
       <class name="cn.slimsmart.unit.test.demo.testng.SpringTestNG">
       		<methods>
       			<include name="testAdd" />
       		</methods>
       </class>
    </classes>
  </test>
</suite>