<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="      
	      http://www.springframework.org/schema/tx 
       	  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
          http://www.springframework.org/schema/beans      
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd      
          http://www.springframework.org/schema/context      
          http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/util 
          http://www.springframework.org/schema/util/spring-util-4.0.xsd
          http://www.springframework.org/schema/aop 
          http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/jee
		  http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		  http://code.alibabatech.com/schema/dubbo 
		  http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-destroy-method="close" default-lazy-init="false">

	<!-- 扫描类是cn.slimsmart.disconf.demo，为了支持disconf，因此，必须添加扫描类 com.baidu -->
	<context:component-scan base-package="com.baidu,cn.slimsmart.disconf.demo" />

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 使用disconf必须添加以下配置 -->
	<bean id="disconfMgrBean" class="com.baidu.disconf.client.DisconfMgrBean"
		destroy-method="destory">
		<property name="scanPackage" value="cn.slimsmart.disconf.demo" />
	</bean>
	<bean id="disconfMgrBean2" class="com.baidu.disconf.client.DisconfMgrBeanSecond"
		init-method="init" destroy-method="destory">
	</bean>

	<!-- 使用托管方式的disconf配置(无代码侵入, 配置更改会自动reload) -->
	<bean id="configproperties_disconf"
		class="com.baidu.disconf.client.addons.properties.ReloadablePropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:/mysql.properties</value>
			</list>
		</property>
	</bean>

	<bean id="propertyConfigurer"
		class="com.baidu.disconf.client.addons.properties.ReloadingPropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="propertiesArray">
			<list>
				<ref bean="configproperties_disconf" />
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>